* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    background-color: rgb(247, 246, 240);
    width: 1240px;
}
.title{
    text-align: center;
}
.title h1{
 padding: 40px 40px;
 color: #000;
}
 .title p{
color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400; 
} 
.title img{
    padding: 60px 70px;
}
.btn {
    width: 1240px;
    margin: 0 auto;
    text-align: center;
}
.btn-sub{
    background-color:#6F2CFF;
    border: none;
    color: white;
    border-radius: 20px;
    font-size: 15px;
    width: 12%;
    height: 30px;
    margin: 10px 40px;
    cursor: pointer;
}
.btn-log{
    background-color: white;
    border: none;
    color: #6F2CFF;
    border-radius: 20px;
    font-size: 15px;
    width: 12%;
    height: 30px;
    margin: 10px 20px;
    cursor: pointer;
}
/*card */
.container-1{
    width: 1240px;
    margin: 0 auto;
}
.container-1 h1{
    text-align: center;
    padding: 80px 80px;
}
.img{
    text-align: center;
    background:#F5F5F5;
    border-radius: 20px;
    
}
 .card{
width: 28%;
float: left;
margin-left: 50px;

 }
h2{
    font-size: 20px;
    padding: 30px 30px;
}
.card p{
color: #6F2CFF;
text-align: center;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 122.222% */
padding-top: 10px;
}
.text{
    display: inline-block;
    text-align: center;
    margin-top: 5%;
    margin-left: 40%;
}
.text h2{
 color: #000;
text-align: center;
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 45px; /* 112.5% */
}.text p{
    color: #000;
text-align: center;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
/*carta*/
.carta{
    margin-left: 7%;
    margin-top: 10%;
    width: 492.857px;
    height: 199px;
    flex-shrink: 0;
    border-radius: 8px 10px 10px 8px;
    background: #17002E;

}
.model{
    width: 1240px;
    margin: 0 auto;
    background-color: #F5F5F5;;

}
.carta{
    float: left;
}
.carta >img{
    width: 53.571px;
    height: 50px;


}
.carta b{
    color: #F5F5F5;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */   
    margin-left: 15px;
}
.carta p{
    color: #F5F5F5;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 146.667% */
margin-top: 30px;
margin-left: 18px;
}
.carta>h1{
    width: 383.571px;
    height: 2px;
    flex-shrink: 0;
    background: #F5F5F5;
    margin-top: 25px;
    margin-left: 15px;
}